/* Font Face */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

/* Root Variables */
:root {
    /* Colors */
    /* Primary */
    --clr-soft-orange: hsl(35, 77%, 62%);
    --clr-soft-red: hsl(5, 85%, 63%);

    /* Neutral */
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);

    /* Font */
    /* Body Copy */
    --fs: 15px;
    --ff-Inter: 'Inter';
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main */
main {
    margin: 1rem 1rem 0 1rem;
    font-family: var(--ff-Inter);
}

/* Header */
.header-container {
    display: inline-flex;
}

/* Mobile Navbar Modal */
@keyframes openModal {
    0% { left: 100%; }
    100% { left: 66%; }
}
@keyframes closeModal
{
    0% { left: 66%; }
    100% { left: 100%; }
}

#header-logo-icon {
    background-repeat: no-repeat;
    background-color: transparent;
    width: 65px;
    height: 45px;
    border: 1px solid transparent;
    background-image: url('../assets/images/logo.svg');
    margin-bottom: 3em;
    float: left;
}

#mobile-navbar-opened-hamburger-icon {
    border: 1px solid transparent;
    margin-top: 1em;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    right: 5vw;
    width: 40px;
    height: 19px;
    background-image: url('../assets/images/icon-menu.svg');
}

#mobile-navbar-closed-x-icon {
    top: -58%;
    right: -120%;
    transform: translate(-50% -90%);
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url('../assets/images/icon-menu-close.svg');
    background-repeat: no-repeat;
}

.mobile-navbar-modal {
    border: 1px solid var(--clr-off-white);    
    background-color: var(--clr-off-white);
    height: 50em; /* needed to prevent any gap in navbar */
    width: 100%;
    top: 55%;
    transform: translate(-28%, -50%);    
    position: fixed;
    z-index: 1;
}

.mobile-navbar-modal::backdrop {
    background-color: transparent;
    /* may prevent click events when modal is open?? */
}

.navbody{
    overflow-y: hidden;
}

.mobile-navbar-modal[open] {
    animation: openModal 0.3s ease forwards;    
}
.mobile-navbar-modal[closing] {
    animation: closeModal 0.3s ease forwards;
}

.mobile-navbar-item-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 11em;
}

.mobile-navbar-item-container li {
    list-style-type: none;
    font-family: var(--ff-Inter);
    font-size: var(--fs);
    font-weight: var(--fw-400);
    margin: 0 0 1.7em 2em;
    text-align: left;
    background-color: transparent;
    border: 1px solid transparent;
}

.mobile-navbar-item-container li:hover,
.mobile-navbar-item-container li:active{
    color: var(--clr-soft-red);
    cursor: pointer;
}

nav{
    display: none;
}
/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;    
}

#image-web-3-desktop{
    display: none;
}

.cover-image-container img {
    max-width: 100%; 
}

.main-container #title {
    font-weight: var(--fw-700);
    font-size: 50px;
    line-height: 1em;
    margin: .25em 0 .25em 0;
}

.main-container #intro-content {
    color: var(--clr-dark-grayish-blue);
    font-weight: 500;
    font-size: var(--fs);
    margin-bottom: 1.5em;
    line-height: 1.7em;
}

.main-container #read-more-button {
    width: 50%;
    height: 5em;
    font-weight: var(--fw-800);
    font-size: 10px;
    letter-spacing: .4em;
    background-color: var(--clr-soft-red);
    border: 1px solid var(--clr-soft-red);
    margin-top: .5em;
    margin-bottom: 5em;
}

.main-container #read-more-button:active,
.main-container #read-more-button:hover{
    background-color: var(--clr-very-dark-blue);
    border: 1px solid var(--clr-very-dark-blue);
    color: var(--clr-off-white);
    cursor: pointer;
}

/* New Content Container */
.new-content-container {
    background-color: var(--clr-very-dark-blue);
    padding: 1.5em;
    margin-bottom: 4.5em;
}

.new-content-container #new-content-title {
    font-size: 30px;
    color: var(--clr-soft-orange);
    padding: 0 0 1em 0;
}

h3, h4, h5 {
    color: var(--clr-off-white);
    font-weight: var(--fw-700);
    font-size: 20px;
}

h3:hover, h4:hover, h5:hover,
h3:active, h4:active, h5:active{
    color: var(--clr-soft-orange);
    cursor: pointer;
}

.new-content-container hr {
    margin-bottom: 2em;
    border: 1px solid var(--clr-dark-grayish-blue);
}

.new-content-container #h3-child-text, 
.new-content-container #h4-child-text {
    line-height: 2em;
    padding: .7em 0 2.5em 0;
    color: var(--clr-grayish-blue);
    font-size: 14px;
    font-weight: var(--fw-400);
}

.new-content-container #h5-child-text {
    padding: 1em 0 0 0;
    color: var(--clr-grayish-blue);
    font-size: 14px;
    font-weight: var(--fw-400);
}

/* Main gallery article Container */
.external-article-container {
    margin-bottom: 2em;
}

/* Gallery Container */
.gallery-container {
    display: flex;
    margin-bottom: 2em;
}

.gallery-container .gallery-image {
    width: 30%;
    margin-right: 2.2em;
    min-height: 8em;
}

.gallery-container .gallery-title {
    font-size: 30px;
    color: var(--clr-soft-red);
    font-weight: var(--fw-800);
}

.gallery-container .gallery-content {
    margin: .5em 0 .5em 0;
    font-weight: var(--fw-800);
    font-size: 17px;
}
.gallery-container .gallery-content:hover,
.gallery-container .gallery-content:active{
    color: var(--clr-soft-red);
    cursor: pointer;
}
.gallery-container .gallery-text {
    color: var(--clr-dark-grayish-blue);
    font-size: 14px;
    line-height: 2em;
}

/* Attribution */
.attribution { 
    color: var(--clr-dark-grayish-blue);
    font-size: 12px;
    font-weight: var(--fw-800);
    text-align: center; 
    margin-bottom: 2em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1000px) {

    /* Removes mobile headers and navbar */
    .mobile-navbar-modal {
        display: none;
    }
    #mobile-navbar-opened-hamburger-icon {
        display: none;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;    
    
    }
    main{
        max-width: 1200px;
    }
    
    /* Enables desktop header and navbar */
    
    .header-container{
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        margin-top: 1em;
    }

    .desktop-navbar {
        display: flex;
        margin-bottom: 1.5rem;
    }

    .desktop-navbar-item-container {
        display: flex;
        list-style-type: none;
        gap: 3em;    
    }

    .desktop-navbar-item-container li:hover,
    .desktop-navbar-item-container li:active{
        color: var(--clr-soft-red);
        cursor: pointer;
    }

    #image-web-3-mobile {
        display: none;
    }

    #image-web-3-desktop {
        display: flex;
        width: 100%;
        height: 35vh;
    }
    
    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto auto auto; 
    }

    .main-container #title {
        grid-column: 1 / 2; 
        grid-row: 2 / 3;    
        padding-bottom: 2em;
        font-size: 50px;
    }

    .main-container #intro-content {
        grid-column: 2 / 3; 
        grid-row: 2 / 3;
        padding-right: 4em;
        padding-top: 1.5em;
    }

    .main-container #read-more-button {
        grid-column: 2 / 3;
        grid-row: 2 / 3;    
        align-self: end; 
        margin-bottom: 7em; 
    }

    .cover-image-container {
        grid-column: 1 / 3; 
        grid-row: 1 / 2; 
        margin-right: 2em;
    }

    .new-content-container {
        grid-column: 3 / 4; 
        grid-row: 1 / 3;
    }

    .new-content-container p{
        margin-right: 5em;
    }

    .external-article-container {
        display: flex;
        grid-column: 1 / 4;
        grid-row: 3 / 4;    
    }

    .gallery-container{
        height: 1em;
        margin: 0 0 10em 0;
    }
    
    .gallery-image{
        height: 1em;
    }
    .attribution { 
        grid-column: 2 / 3; 
        grid-row: 4 / 4;
    }
}

@media screen and (min-width: 1200px) {

    body{
        height: 100vh;
        overflow-y: hidden;
    }

    .header-container{
        margin-top: -7em;
    }

    .new-content-container {
        height: 90%;
    }

    .main-container #title {
        font-size: 60px;
        margin-bottom: -1em;
    }

    .main-container #read-more-button {
        margin-bottom: 6em;
    }
    
    .gallery-container{
        width: 50%;
        height: 1em;
        margin: 0 4em 0 -3em;
        padding: 0 0 0 3em ;        
    }

    .attribution { 
        position: absolute;
        writing-mode: vertical-rl;
        margin-left: -1em;
    }
    
    .attribution a{ 
        text-decoration: none;
    }

}